<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3,minimum-scale=1,user-scalable=no,viewport-fit=cover">
        <title>롤링페이퍼, 우리가 만들어가는 이야기</title>
        <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&amp;family=Hi+Melody&amp;family=Nanum+Brush+Script&amp;family=Nanum+Gothic&amp;display=swap" rel="stylesheet" type="text/css" data-react-helmet="true">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&amp;display=swap" rel="stylesheet" type="text/css" data-react-helmet="true">
    </head>
    <body class="">
        <script>{% if msg %} alert('{{msg}}'); {% endif %}
            var url = new URL(window.location.href);
            var msg = url.searchParams.get("msg")
            if(msg!=null){
                alert(msg);
            }
        </script>
        <div id="wrap">
            <div class="sc-amjdv bckYVV">
                <section class="sc-ljslrt rASkO">
                    <div class="sc-jlZIZy iWVnnf">
                        <div class="slick-slider slick-initialized">
                            <div class="slick-list">
                                <div class="slick-track" style="width: 100%; opacity: 1;">
                                    <div data-index="0" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 100%;">
                                        <div>
                                            <div class="sc-hmbsMR drDrFj">
                                                {% load static %}
                                                <img alt="롤링페이퍼 로고" src="{% static 'img/logo.svg' %}" class="sc-jOFreG fmnITy" style="align-self: flex-start; margin-top: 28px;">
                                                <div class="sc-eKYRpg jfWAtD">
                                                  {% load static %}
                                                  <img src="{% static 'img/logo_main.svg' %}" class="sc-bTDODP hfGZmI">
                                                </div>
                                                <div class="sc-kHWWFa bhyOal">
                                                    <p color="dark" class="sc-hOPghE kQxPVL">커다란 종이를 혼자 굴릴 수 있나요?<br>친구들과 함께 굴려, 우리만의 롤링페이퍼를 만드세요!<br></p>
                                                </div>
                                                {% block content %}
                                                {% endblock %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if view == "main" %}
                        {% include "rollingPaper/main_gotoBoard.html" %}
                    {% endif %}
                    {% include "rollingPaper/footer.html" %}
                </section>
            </div>
        </div>
    </body>
</html>
