{% load rollingPaper_extras %}
<html lang="ko">
	<head>
	  <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3,minimum-scale=1,user-scalable=no,viewport-fit=cover">
	  <style data-styled="active" data-styled-version="5.2.0">
	  </style>
	  {% load static %}
	  <link rel="stylesheet" href="{% static 'css/base.css' %}">
	  {% load static %}
	  <link rel="stylesheet" href="{% static 'css/list.css' %}">
	  <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&amp;family=Hi+Melody&amp;family=Nanum+Brush+Script&amp;family=Nanum+Gothic&amp;display=swap" rel="stylesheet" type="text/css" data-react-helmet="true">
	</head>
	<body class="">
		<div id="wrap">
			<div class="sc-amjdv bckYVV">
				<div class="sc-WZYaI hciJwR">
					<div class="sc-dFRpvv cQoJBr bg">
						<div class="sc-lmgQde ZlFdb" style="transform: translateY(0px);">
							<div class="sc-giAqnE bfNSsg">
								<h1 class="sc-bYwzba bNLeWO">To. {{board_name|truncatechars:"15"}}</h1>
								{% load static %}
								<img src="{% static 'img/btn_menu.svg' %}" class="sc-kLokih cgnnmn" onclick="document.getElementsByClassName('hugGxG')[0].style.display='block'">
							</div>
							<div class="sc-iJCRLp hLvDVx">
							</div>
						</div>

						<div class="sc-hHEjAm hugGxG" style="display:none">
							<div class="sc-dlMBXb eXQdyn" style="transform: translateX(-248px);">
							{% load static %}
								<img src="{% static 'img/btn_close.svg' %}" class="sc-kfYqjs jpcbJh" onclick="document.getElementsByClassName('hugGxG')[0].style.display='none'">
								<a href="{% url 'rollingPaper:main' %}"><h2 class="sc-fKgIGh efpGaJ">메인 홈</h2></a>
								<h2 id="kakao-link-btn" class="sc-fKgIGh efpGaJ">공유하기</h2>
								<div class="sc-bCwgka kQzQQm">
								</div>
								<a href="sms:01084454677"><h4 class="sc-iwaifL gSkynp">문의하기</h4></a>
							</div>
						</div>

						<div class="sc-iklIKw hkyHSX" style="opacity: 1;">
							{{post|length}}개 작성
						</div>
						<section class="sc-daBvwG gTaSYg card">
							{% if post|length == 0 %}
							<section class="sc-pNWxx dryRrI">
								<div class="sc-jrsJCI hxuTcC">
									글을 추가해주세요!
								</div>
							</section>
							{% else %}
							<form action="./detail/" method='post' name="fm">
								{% csrf_token %}
								<div class="sc-jQAyEw dQaUcS card-wrapper">
										<input type="hidden" name="goto">
										{% for message in post %}
										<div transform="rotate(5deg) translateX(7px) translateY(7px)" id="3209056"
											{% if forloop.counter0|mod:4 == 1 or forloop.counter0|mod:4 == 2 %}
												class="sc-dlnjPT fnbVmG2"
											{% else %}
												class="sc-dlnjPT fnbVmG"
											{% endif %}
											onclick="goto({{message.id}})">

											<div font-family="Hi Melody" color="#000000" class="sc-hKFyIo iqCTcf">
												{{message.contents|truncatechars:"55"}}
											</div>
										</div>
										{% endfor %}
									<div class="sc-eKYRpg hCEyrj sentinel"></div>
								</div>
							</form>
							{% endif %}
						</section>
						<div class="sc-fuIRbl fKFrpF" style="opacity: 1;">
							<a href="./write/">
								<div class="sc-Gvgqn sc-gsWdvU emVMzr sScsW">
									{% load static %}
									<img src="{% static 'img/btn_write.svg' %}" alt="페이퍼 추가" class="sc-bXevSJ fwjTzB">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script>
		jQuery('#kakao-link-btn').click(function() {
		  var t = document.createElement("textarea");
		  document.body.appendChild(t);
		  t.value = window.location.href;
		  t.select();
		  document.execCommand('copy');
		  document.body.removeChild(t);
		  alert('클립보드에 복사되었습니다!');
		});

		function goto(id){
			document.getElementsByName("goto")[0].value=id;
			document.fm.submit();
		}
	</script>
	</body>
</html>
