<div class="sc-jQAyEw flameU">
    <div class="sc-dkQUut fKLEUn">
        <p class="sc-WZYaI hciJwR">방번호를
            <span class="sc-bXevSJ fwjTzB">복사 후,</span>
            입력창에
            <span class="sc-bXevSJ fwjTzB">붙여넣기</span>해주세요.
        </p>
        <div class="sc-ikXwZx hwCNyq">
            <input placeholder="방번호" class="sc-uxeQQ jHEhAp" name="idBoard" value="">
            <a onclick="if(document.getElementsByName('idBoard')[0].value.length!=0){location.href=document.getElementsByName('idBoard')[0].value}else{alert('게시글 번호를 입력해주세요.')}"><div class="sc-biJoGX gtjlvQ">입장</div></a>
        </div>

    </div>
</div>