{% load rollingPaper_extras %}
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3,minimum-scale=1,user-scalable=no,viewport-fit=cover">
		<style data-styled="active" data-styled-version="5.2.0">
		</style>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/list.css' %}">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/write.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&amp;family=Hi+Melody&amp;family=Nanum+Brush+Script&amp;family=Nanum+Gothic&amp;display=swap" rel="stylesheet" type="text/css" data-react-helmet="true">
	</head>
	<body class="">
		<script>{% if msg %} alert('{{msg}}'); {% endif %}</script>
		<div id="wrap">
			<div class="sc-amjdv bckYVV">
				<div class="sc-WZYaI hciJwR">
					<div class="sc-dFRpvv cQoJBr bg">
						<div class="sc-lmgQde ZlFdb" style="transform: translateY(0px);">
							<div class="sc-giAqnE bfNSsg">
								<h1 class="sc-bYwzba bNLeWO">To. {{board_name|truncatechars:"15"}}</h1>
								{% load static %}
								<img src="{% static 'img/btn_menu.svg' %}" class="sc-kLokih cgnnmn" onclick="document.getElementsByClassName('hugGxG')[0].style.display='block'">
							</div>
							<div class="sc-iJCRLp hLvDVx">
							</div>
						</div>

						<div class="sc-hHEjAm hugGxG" style="display:none">
							<div class="sc-dlMBXb eXQdyn" style="transform: translateX(-248px);">
							{% load static %}
								<img src="{% static 'img/btn_close.svg' %}" class="sc-kfYqjs jpcbJh" onclick="document.getElementsByClassName('hugGxG')[0].style.display='none'">
								<a href="{% url 'rollingPaper:main' %}"><h2 class="sc-fKgIGh efpGaJ">메인 홈</h2></a>
								<h2 id="kakao-link-btn" class="sc-fKgIGh efpGaJ">공유하기</h2>
								<div class="sc-bCwgka kQzQQm">
								</div>
								<a href="sms:01084454677"><h4 class="sc-iwaifL gSkynp">문의하기</h4></a>
							</div>
						</div>

						<section class="sc-daBvwG gTaSYg card">
							<section class="sc-pNWxx hCEyrj">
								<div class="sc-xGAYn lgEKKy">

									<form action="" method='post' name="fm" style="width:100%">
										{% csrf_token %}
										<div class="sc-jSFkmK bEWEhJ">
											<textarea color="#000000" spellcheck="false" class="eHpTMB" name="contents"></textarea>
										</div>
										<div class="sc-fuIRbl hXwWQH">
											<span class="sc-fcmNTy eXNXqu">Password.</span>
											<input placeholder="비밀번호" type="password" maxlength="8" class="sc-Gvgqn cUWXXc" name="pwPost">
										</div>
										<div class="sc-fuIRbl hXwWQH">
											<span class="sc-fcmNTy eXNXqu">From.</span>
											<input placeholder="보내는이" maxlength="8" class="sc-Gvgqn cUWXXc" name="nickname">
										</div>
									</form>
								</div>
							</section>
						</section>
						<div class="sc-gsWdvU cGnDyB">
							<a href="./">
								<button class="sc-gtssRu joUcBY" color="dark">뒤로가기</button>
							</a>
							<button class="sc-gtssRu joUcBY" color="dark" onclick="document.fm.submit()">저장</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script>
		jQuery('#kakao-link-btn').click(function() {
		  var t = document.createElement("textarea");
		  document.body.appendChild(t);
		  t.value = window.location.href;
		  t.select();
		  document.execCommand('copy');
		  document.body.removeChild(t);
		  alert('클립보드에 복사되었습니다!');
		});
	</script>
	</body>
</html>
